name: deploy-to gcs

on:
  push:
    branches:
      - main
jobs:
   build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: authenticate to google cloud 
        uses: google-github-actions/auth@v2
        with:
           credentials_json: ${{ secrets.GCP_SA_KEY_JSON}}

     

   
      - name: upload files to gcs
        run: |
            gsutil -m rsync -r . gs://${{ secrets.GCP_BUCKET_NAME }}

      
