name: deploy-to gcs

on:
  push:
    branches:
      - main
jobs:
   build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: authenticate to google cloud 
        uses: google-github-actions/auth@v2
        with:
         gcp-access-key-id: ${{ secrets.GCP_ACCESS_KEY}}
         gcp-secret-key-id: ${{ secrets.GCP_SECRET_KEY}}
         credentials_json: ${{ secrets.GCP_SA_KEY_JSON}}

     

   
      - name: upload files to gcs
        run: |
            gsutil cp -r . gs://${{ secrets.GCP_BUCKET_NAME }}

      
